In [24]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///my_database.db", echo=True)   # Note: sqlite and not sqlite3. Echo = log the SQL commands.
    # If you want to use a different database for production (e.g. MySQL), just change the URL.
engine

Engine(sqlite:///my_database.db)

In [25]:
# Instead of CREATE TABLE, we create a class that represents the table:
from sqlalchemy.orm import declarative_base
Base = declarative_base()

# Define the "user" table:
class User(Base):
    __tablename__ = 'user'    
    # Define the columns in the user table:
    id = sqlalchemy.Column(sqlalchemy.Integer , primary_key= True)
    name = sqlalchemy.Column(sqlalchemy.String(20) , unique=True, nullable = False , default='Anonymous')
    phone = sqlalchemy.Column(sqlalchemy.Integer , unique = True)
    email = sqlalchemy.Column(sqlalchemy.String(20) , unique=True, nullable = False)
    password = sqlalchemy.Column(sqlalchemy.String(20), nullable= False)

    def __repr__(self):
        return f'User({self.id!r}, {self.name!r}, {self.phone!r}, {self.email!r})'

Base.metadata.create_all(engine)  # Create the database and all tables.

2022-04-26 21:35:10,512 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-26 21:35:10,513 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-04-26 21:35:10,515 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-26 21:35:10,517 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user")
2022-04-26 21:35:10,519 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-26 21:35:10,521 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	phone INTEGER,
	email VARCHAR(20) NOT NULL,
	password VARCHAR(20) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (phone),
	UNIQUE (email)
)


2022-04-26 21:35:10,522 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2022-04-26 21:35:10,529 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
# Same data as before

name1 = 'Tom Pythonovitz'
phone1 = '3366858'
email1 = 'Tom.Pythonovitz@example.com'
# A very secure password
password1 = '12345'
 
name2 = 'Tammi Pythonovitz'
phone2 = '5557241'
email2 = 'Tammi@example.com'
password2 = 'TammiLoveTom'

name3 = 'George Rustniovsky'
phone3 = '33333'
email3 = 'GRust@example.com'
password3 = 'Rust for ever'

In [27]:
DBSession = sqlalchemy.orm.sessionmaker(bind=engine)
session = DBSession()

In [28]:
# Instead of INSERT INTO table, we create new objects:
user1 = User(name=name1, phone=phone1,  email=email1, password=password1)
session.add(user1)
print('First user inserted')

session.add(User(name=name2, phone=phone2,  email=email2, password=password2))
print('Second user inserted')

session.commit()

First user inserted
Second user inserted
2022-04-26 21:35:15,291 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-26 21:35:15,294 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-04-26 21:35:15,295 INFO sqlalchemy.engine.Engine [generated in 0.00143s] ('Tom Pythonovitz', '3366858', 'Tom.Pythonovitz@example.com', '12345')
2022-04-26 21:35:15,297 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-04-26 21:35:15,298 INFO sqlalchemy.engine.Engine [cached since 0.004597s ago] ('Tammi Pythonovitz', '5557241', 'Tammi@example.com', 'TammiLoveTom')
2022-04-26 21:35:15,301 INFO sqlalchemy.engine.Engine COMMIT

In [29]:
session.add(User(name=name3, phone=phone3,  email=email3, password=password3))
print('Third user inserted')
session.commit()

Third user inserted
2022-04-26 21:35:29,372 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-26 21:35:29,373 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-04-26 21:35:29,373 INFO sqlalchemy.engine.Engine [cached since 14.08s ago] ('George Rustniovsky', '33333', 'GRust@example.com', 'Rust for ever')
2022-04-26 21:35:29,377 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
users = [User(name='Joee Javany', phone='2222', email='joo@example.mail', password='password'),
        User(name='Shirel Cplustik', phone='3333', email='cpp@example.mail', password='cppass'),
        User(name='Adam Kotlinberg', phone='4444', email='Adam_Kotlin@example.mail', password='JustPassword'),
        ]
# Insert many
session.bulk_save_objects(users)
print('Many users inserted')
session.commit()

2022-04-26 21:35:32,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-26 21:35:32,617 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-04-26 21:35:32,618 INFO sqlalchemy.engine.Engine [generated in 0.00075s] (('Joee Javany', '2222', 'joo@example.mail', 'password'), ('Shirel Cplustik', '3333', 'cpp@example.mail', 'cppass'), ('Adam Kotlinberg', '4444', 'Adam_Kotlin@example.mail', 'JustPassword'))
Many users inserted
2022-04-26 21:35:32,620 INFO sqlalchemy.engine.Engine COMMIT

In [31]:
session.query(User).all()

2022-04-26 21:35:41,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-26 21:35:41,974 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.email AS user_email, user.password AS user_password
FROM user
2022-04-26 21:35:41,975 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ()

[User(1, 'Tom Pythonovitz', 3366858, 'Tom.Pythonovitz@example.com'),
 User(2, 'Tammi Pythonovitz', 5557241, 'Tammi@example.com'),
 User(3, 'George Rustniovsky', 33333, 'GRust@example.com'),
 User(4, 'Joee Javany', 2222, 'joo@example.mail'),
 User(5, 'Shirel Cplustik', 3333, 'cpp@example.mail'),
 User(6, 'Adam Kotlinberg', 4444, 'Adam_Kotlin@example.mail')]

In [32]:
session.query(User).filter(User.name=="Tom Pythonovitz").all()

2022-04-26 21:35:47,211 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.email AS user_email, user.password AS user_password
FROM user
WHERE user.name = ?
2022-04-26 21:35:47,212 INFO sqlalchemy.engine.Engine [generated in 0.00120s] ('Tom Pythonovitz',)

[User(1, 'Tom Pythonovitz', 3366858, 'Tom.Pythonovitz@example.com')]

In [33]:
tom = session.query(User).filter(User.name=="Tom Pythonovitz").first()
tom

2022-04-26 21:35:58,450 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.email AS user_email, user.password AS user_password
FROM user
WHERE user.name = ?
 LIMIT ? OFFSET ?
2022-04-26 21:35:58,451 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ('Tom Pythonovitz', 1, 0)

User(1, 'Tom Pythonovitz', 3366858, 'Tom.Pythonovitz@example.com')

In [34]:
tom.phone

3366858

In [35]:
# To drop all tables:
Base.metadata.drop_all(engine)

2022-04-26 21:36:20,622 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-26 21:36:20,624 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-04-26 21:36:20,625 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-26 21:36:20,626 INFO sqlalchemy.engine.Engine
DROP TABLE user
2022-04-26 21:36:20,627 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2022-04-26 21:36:20,633 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
session.close()

2022-04-26 21:36:22,970 INFO sqlalchemy.engine.Engine ROLLBACK