In [123]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///my_database1.db", echo=True)   # Note: sqlite and not sqlite3. Echo = log the SQL commands.
engine

Engine(sqlite:///my_database1.db)

In [124]:
# Instead of CREATE TABLE, we create a class that represents the table:

from sqlalchemy.orm import declarative_base
Base = declarative_base()

# Define the "user" table:
class User(Base):
    __tablename__ = 'user'    
    # Define the columns in the user table:
    id = sqlalchemy.Column(sqlalchemy.Integer , primary_key= True)
    name = sqlalchemy.Column(sqlalchemy.String(20) , unique=True, nullable = False , default='Anonymous')
    phone = sqlalchemy.Column(sqlalchemy.Integer , unique = True)
    email = sqlalchemy.Column(sqlalchemy.String(20) , unique=True, nullable = False)
    password = sqlalchemy.Column(sqlalchemy.String(20), nullable= False)

    def __repr__(self):
        return f'User({self.id!r}, {self.name!r}, {self.phone!r}, {self.email!r})'

Base.metadata.create_all(engine)  # Create the database and all tables.

2022-02-03 14:38:04,885 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-03 14:38:04,887 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-02-03 14:38:04,887 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-03 14:38:04,889 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user")
2022-02-03 14:38:04,890 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-03 14:38:04,891 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	phone INTEGER,
	email VARCHAR(20) NOT NULL,
	password VARCHAR(20) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (phone),
	UNIQUE (email)
)


2022-02-03 14:38:04,892 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2022-02-03 14:38:04,897 INFO sqlalchemy.engine.Engine COMMIT

In [125]:
# Same data as before

name1 = 'Tom Pythonovitz'
phone1 = '3366858'
email1 = 'Tom.Pythonovitz@example.com'
# A very secure password
password1 = '12345'
 
name2 = 'Tammi Pythonovitz'
phone2 = '5557241'
email2 = 'Tammi@example.com'
password2 = 'TammiLoveTom'

name3 = 'George Rustniovsky'
phone3 = '33333'
email3 = 'GRust@example.com'
password3 = 'Rust for ever'

In [126]:

DBSession = sqlalchemy.orm.sessionmaker(bind=engine)
session = DBSession()

In [127]:
# Instead of INSERT INTO table, we create new objects:

user1 = User(name=name1, phone=phone1,  email=email1, password=password1)
session.add(user1)
print('First user inserted')
 
session.add(User(name=name2, phone=phone2,  email=email2, password=password2))
print('Second user inserted')

session.commit()

First user inserted
Second user inserted
2022-02-03 14:38:05,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-03 14:38:05,533 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-02-03 14:38:05,534 INFO sqlalchemy.engine.Engine [generated in 0.00074s] ('Tom Pythonovitz', '3366858', 'Tom.Pythonovitz@example.com', '12345')
2022-02-03 14:38:05,537 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-02-03 14:38:05,538 INFO sqlalchemy.engine.Engine [cached since 0.004481s ago] ('Tammi Pythonovitz', '5557241', 'Tammi@example.com', 'TammiLoveTom')
2022-02-03 14:38:05,539 INFO sqlalchemy.engine.Engine COMMIT

In [128]:
session.add(User(name=name3, phone=phone3,  email=email3, password=password3))
print('Third user inserted')
session.commit()

Third user inserted
2022-02-03 14:38:05,688 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-03 14:38:05,689 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-02-03 14:38:05,690 INFO sqlalchemy.engine.Engine [cached since 0.1576s ago] ('George Rustniovsky', '33333', 'GRust@example.com', 'Rust for ever')
2022-02-03 14:38:05,693 INFO sqlalchemy.engine.Engine COMMIT

In [129]:
users = [User(name='Joee Javany', phone='2222', email='joo@example.mail', password='password'),
        User(name='Shirel Cplustik', phone='3333', email='cpp@example.mail', password='cppass'),
        User(name='Adam Kotlinberg', phone='4444', email='Adam_Kotlin@example.mail', password='JustPassword'),
        ]
# Insert many
session.bulk_save_objects(users)
print('Many users inserted')
session.commit()

2022-02-03 14:38:05,849 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-03 14:38:05,850 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, email, password) VALUES (?, ?, ?, ?)
2022-02-03 14:38:05,851 INFO sqlalchemy.engine.Engine [generated in 0.00117s] (('Joee Javany', '2222', 'joo@example.mail', 'password'), ('Shirel Cplustik', '3333', 'cpp@example.mail', 'cppass'), ('Adam Kotlinberg', '4444', 'Adam_Kotlin@example.mail', 'JustPassword'))
Many users inserted
2022-02-03 14:38:05,854 INFO sqlalchemy.engine.Engine COMMIT

In [130]:
session.query(User).all()

2022-02-03 14:38:06,024 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-03 14:38:06,025 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.email AS user_email, user.password AS user_password
FROM user
2022-02-03 14:38:06,026 INFO sqlalchemy.engine.Engine [generated in 0.00051s] ()

[User(1, 'Tom Pythonovitz', 3366858, 'Tom.Pythonovitz@example.com'),
 User(2, 'Tammi Pythonovitz', 5557241, 'Tammi@example.com'),
 User(3, 'George Rustniovsky', 33333, 'GRust@example.com'),
 User(4, 'Joee Javany', 2222, 'joo@example.mail'),
 User(5, 'Shirel Cplustik', 3333, 'cpp@example.mail'),
 User(6, 'Adam Kotlinberg', 4444, 'Adam_Kotlin@example.mail')]

In [131]:
session.query(User).filter(User.name=="Tom Pythonovitz").all()

2022-02-03 14:38:06,120 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.email AS user_email, user.password AS user_password
FROM user
WHERE user.name = ?
2022-02-03 14:38:06,121 INFO sqlalchemy.engine.Engine [generated in 0.00088s] ('Tom Pythonovitz',)

[User(1, 'Tom Pythonovitz', 3366858, 'Tom.Pythonovitz@example.com')]

In [132]:
tom = session.query(User).filter(User.name=="Tom Pythonovitz").first()
tom

2022-02-03 14:38:06,448 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.email AS user_email, user.password AS user_password
FROM user
WHERE user.name = ?
 LIMIT ? OFFSET ?
2022-02-03 14:38:06,449 INFO sqlalchemy.engine.Engine [generated in 0.00107s] ('Tom Pythonovitz', 1, 0)

User(1, 'Tom Pythonovitz', 3366858, 'Tom.Pythonovitz@example.com')

In [133]:
tom.phone

3366858

In [134]:
# To drop all tables:
Base.metadata.drop_all(engine)

2022-02-03 14:38:07,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-03 14:38:07,300 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-02-03 14:38:07,302 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-03 14:38:07,304 INFO sqlalchemy.engine.Engine
DROP TABLE user
2022-02-03 14:38:07,305 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2022-02-03 14:38:07,309 INFO sqlalchemy.engine.Engine COMMIT

In [135]:
session.close()

2022-02-03 14:38:07,973 INFO sqlalchemy.engine.Engine ROLLBACK